body {
background-color: #849d8f;
font-size: 16px;
line-height: 22px;
color: #ffffff;
font-weight: normal;
font-family: "Roboto Medium";
}

h1 {
font-size: 35px;
line-height: 41px;
color: #ffffff;
font-weight: bold;
font-family: "Roboto Bold";
}

h2 {
font-size: 24px;
line-height: 30px;
color: #000000;
font-weight: normal;
font-family: "Roboto Medium";
}
