body {
    background-color: #849d8f;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body > input[type="radio"] {
    display: none;
}

h1 {
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 500;
}

.siteWrapper {
    min-width: 1200px;
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease,
                background-color 0.5s ease;
}

.siteWrapper:before,
.siteWrapper:after {
    content: "";
    visibility: hidden;
}

.siteWrapper:before,
.siteWrapper:after {
    background-image: url("../img/slide2.png");
}

.siteWrapper:after {
    background-image: url("../img/slide3.png");
}

.contentWrapper {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}


.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.slide {
    display:none;
}

#btn1:checked ~ .siteWrapper #slide1,
#btn2:checked ~ .siteWrapper #slide2,
#btn3:checked ~ .siteWrapper #slide3 {
  display: block;
}

#btn1:checked ~ .siteWrapper label[for="btn1"],
#btn2:checked ~ .siteWrapper label[for="btn2"],
#btn3:checked ~ .siteWrapper label[for="btn3"] {
  background-color: #ffffff;
}

#btn1:checked ~ .siteWrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
}

#btn2:checked ~ .siteWrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}

#btn3:checked ~ .siteWrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}

.slideTitle {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border: none;
  outline: none;
  cursor: pointer;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  background: #f26843;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.sliderControls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.sliderControls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.mainHeader {
    padding-top: 10px;
}

    .mainLogo {
        float: left;
        width: 153px;
        line-height: 0px;
    }

    .mainNavigation {
        float: left;
        margin: 13px 0 0 16px;
        width: 500px;
    }
        .menu {
            font-size: 0;
            margin: 0;
            padding: 0;
            list-style: none;
        }
            .menuItem {
                display: inline-block;
                vertical-align: top;
                position: relative;
                padding: 5px 14px 4px;
                font-size: 16px;
                line-height: 22px;
            }

            .menuItem > a {
                /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
            }

            .menuItem:hover {
                background: #f8f7f4;
                border-radius: 16px;
            }

            .menuItem:hover > a {
                color: #323232;
                border-bottom: 1px solid transparent;
            }

            .menuItem:hover .subMenu {
                display: block;
            }

            .menuActive {
                background: #f26843;
                border-radius: 15px;
                padding: 5px 12px;
            }

            .subMenu {
                position: absolute;
                display: none;
                top: 0;
                left: -7px;
                width: 143px;
                z-index: 1;
            }

                .subMenu ul {
                    background: #f8f7f4;
                    border-radius: 5px;
                    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
                    color: #323232;
                    font-size: 14px;
                    list-style: none;
                    margin: 0;
                    padding: 0 0 1px;
                    position: relative;
                    top: 37px;
                    width: 143px;
                    z-index: 1;
                }
                    .subMenu li {
                        display: block;
                        margin: 0 0 4px;
                    }

                    .subMenuItemCategory {
                        display: block;
                        color: #323232;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 5px 20px;
                        position: relative;
                        line-height: 28px;
                    }
                        .subMenuItemCategory::after {
                            content: '';
                            display: block;
                            background: rgba(53, 53, 53, 0.2);
                            position: absolute;
                            left: 6px;
                            right: 6px;
                            bottom: -1px;
                            height: 1px;
                            z-index: 1;
                        }

                    .subMenu a {
                        color: #323232;
                        display: block;
                        font-size: 14px;
                        font-weight: normal;
                        text-decoration: none;
                        padding: 0 20px;
                        line-height: 28px;
                    }
                    .subMenu a:hover {
                        background: #fbded8;
                    }

.userBlock {
    float: right;
    margin-top: 13px;
    font-size: 0;
    text-align: right;
}

    .search {
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-size: 14px;
        margin-right: 10px;
    }
        .search:hover .searchIconText {
            background-color: #f8f7f4;
            background-image: url("../img/search_icon_black.svg");
        }
        .search:hover .searchForm {
            display: block;
        }

        .searchIconText {
            background: rgba(255, 255, 255, 0.2) url("../img/search_icon.svg") no-repeat 50% 50%;
            border-radius: 50%;
            display: block;
            text-align: center;
            height: 31px;
            width: 31px;
            margin-right: 0;
        }

        .searchForm {
            display: none;
            position: absolute;
            right: 0;
            top: 30px;
        }

        .searchFormFieldset {
            border-radius: 6px;
            background-color: rgb(248, 247, 244);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
            padding: 20px 15px;
            margin-top: 7px;
            width: 311px;
            position: relative;
            z-index: 1;
        }
            .searchFormField {
                background: #fff;
                border: 1px solid rgb(211, 211, 210);
                border-radius: 5px;
                color: #353535;
                font-size: 14px;
                font-weight: 400;
                box-sizing: border-box;
                padding: 0 13px;
                height: 40px;
                width: 100%;
            }

            .searchFormField::-webkit-input-placeholder {
                color: #999;
            }
            .searchFormField::-moz-placeholder {
                color: #999;
            }
            .searchFormField:-ms-input-placeholder {
                color: #999;
            }

    .account {
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-size: 14px;
        margin-right: 10px;
    }

    .account:hover .userBlockBtn {
        color: #323232;
        background-color: #f8f7f4;
    }

    .account:hover .entranceBtn {
        background-image: url('../img/entrance_icon_black.svg');
    }

    .account:hover .enterForm{
        display: block;
    }

        .userBlockBtn {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 15px;
            display: block;
            font-weight: 500;
            font-size: 14px;
            margin: 0;
            padding: 0;
            padding: 4px 15px 5px 45px;
            color: #ffffff;
            text-decoration: none;

        }

        .entranceBtn {
            background-image: url('../img/entrance_icon.svg');
            background-position: 16px 6px;
            background-repeat: no-repeat;
        }

        .enterForm {
            display: none;
            position: absolute;
            right: 0;
            top: 30px;
        }

            .enterFormFieldset {
                border-radius: 6px;
                background-color: rgb(248, 247, 244);
                box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
                padding: 20px 16px;
                margin-top: 7px;
                width: 237px;
                position: relative;
                z-index: 2;
            }
                .enterFormField {
                    background: #fff;
                    border: 1px solid rgb(211, 211, 210);
                    border-radius: 5px;
                    color: #353535;
                    font-size: 14px;
                    font-weight: 400;
                    box-sizing: border-box;
                    padding: 0 13px;
                    height: 43px;
                    width: 100%;
                    margin-bottom: 20px;
                }

                .enterFormField::-webkit-input-placeholder {
                    color: #999;
                }
                .enterFormField::-moz-placeholder {
                    color: #999;
                }
                .enterFormField:-ms-input-placeholder {
                    color: #999;
                }

                .enterFormBtn {
                    font-size: 18px;
                    line-height: 24px;
                    padding: 10px 24px;
                    margin-right: 9px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                }

                .passReg {
                    width: 125px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                }

                .enterFormLink {
                    color: #323232;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0;
                    padding: 0;
                    font-size: 13px;
                }




    .cart {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        position: relative;
        font-size: 14px;
    }

    .cartButton {
        padding: 4px 34px 5px 45px;
        background-position: 16px 6px;
        background-repeat: no-repeat;
    }

    .cartEmpty {
        background-image: url('../img/cart_icon.svg');
    }

    .cartFull {
        background-image: url('../img/cart_icon_black.svg');
        color: #323232;
        background-color: #f8f7f4;
        padding-right: 15px;
        padding-left: 43px;
    }

    .cart:hover .orderSummary {
        display: block;
    }

        .orderSummary {
            width: 510px;
            border-radius: 6px;
            background-color: rgb(248, 247, 244);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
            padding: 20px 15px;
            margin-top: 7px;
            position: absolute;
            right: 0;
            top: 30px;
            display: none;
        }

            .orderSummaryTable {
                color: #323232;
                font-size: 13px;
                line-height: 16px;
                border-bottom: 1px solid #cacac7;
                border-spacing: 0;
                font-weight: normal;
                text-align: left;
                position: relative;
                z-index: 2;
            }

            .orderSummaryTable tr {
                height: 40px;
                margin-bottom: 13px;
            }

            .orderSummaryTable td {
                padding-bottom: 20px;
            }

            .x {
                width: 27px;
                background: url("../img/x_cart.png") no-repeat 6px 11px;
                margin-right: 11px;
            }

            .iceIcon {
                width: 33px;
                height: 33px;
            }

            .orangeSmall {
                background: url("../img/icecream_orange_small.png") no-repeat;
            }

            .strawberrySmall {
                background: url("../img/icecream_strawberry_small.png") no-repeat;
            }

            .orderItem {
                width: 217px;
                padding: 0;
                padding-left: 14px;
                padding-right: 32px;
            }

            .orderLong {
                vertical-align: bottom;
            }

            .orderCalcLong {
                vertical-align: top;
                padding-top: 8px;
            }

            .orderPriceLong {
                vertical-align: top;
                padding-top: 8px;
            }

            .itemPrice {
                color: #999999;
            }

            .orderPrice {
                padding-left: 10px;
            }

            .orderSum {
                color: #333333;
                font-size: 15px;
                line-height: 18px;
                padding-top: 15px;

            }


        .orderSubmit {
            font-size: 18px;
            line-height: 24px;
            padding: 10px 15px;
            margin-top: 14px;
        }

.upperBlock {

}

    .breadcrumbs {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
        float: left;
    }

        .breadcrumbs a {
            text-decoration: none;
            color: #ffffff;
            font-size: 14px;
            margin: 0;
            padding: 0;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
        }

            .breadcrumbs .active {
                box-shadow: none;
            }

        .breadcrumbs li {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            padding-top: 25px;
            margin-right: 2px;
        }

    .openTimePhone {
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        text-align: right;
        float: right;
    }

    .phone {
        font-size: 22px;
        line-height: 24px;
        font-weight: bold;
    }
.mainCatalogueTitle {
    margin: 0;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 27px;
}

.filter {
    font-size: 0;
}

    .filterTitle {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 9px;
        padding-left: 15px;
    }


    .filterBackgorund {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 18px;
        margin: 0;
        padding: 0;
        padding: 5px 15px;
        color: #ffffff;
        text-decoration: none;
    }

    .filterSort {
        width: 195px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .filterPrice {
        width: 220px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .formSlider {
        padding: 16px;
        position: relative;
    }

        .scale {
            background-color: #d1dad3;
            height: 4px;
            padding-left: 15px;
            padding-right: 15px;

        }

            .bar {
                background-color: #f8f7f4;
                height: 4px;
                width: 90px;
                margin-left: 20px;
            }

        .toggle {
            position: absolute;
            background-color: #f8f7f4;
            width: 20px;
            height: 20px;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        }

            .toggleMin {
                left: 35px;
                top: 8px;
            }

            .toggleMax {
                left: 132px;
                top: 8px;
            }

    .filterFat {
        width: 420px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .filterFat input {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }

    .filterFillings {
        width: 705px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        margin-bottom: 40px;
        margin-right: 10px;
    }

    .filterFillings input {
        display: inline-block;
        vertical-align: top;

    }

    .filterBtn {
        width: 144px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 18px;
        background-color: rgba(255, 255, 255, 0.2);
        background-image:url("../img/filter_button_border.png");
        color: #ffffff;
        border-radius: 18px;
        margin: 0;
        padding: 0;
        padding: 9px 17px;
        border: none;
    }

    .filterBtn:hover {
        color: #323232;
        background-color: #f8f7f4;
    }

    .filterBtn:active {
      background-color: rgb(237, 237, 237);
      box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
      background-image: none;
    }


.offer {
    font-size: 0;
    padding: 0 0 14px;
}

    .offerItem {
        background-color: #000;
        border-radius: 10px;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        padding: 20px 20px 70px;
        position: relative;
        margin-right: 26px;
        margin-bottom: 26px;
        min-height: 140px;
        width: 520px;
    }

    .offerItem-raspFree {
        background-image: url("../img/bg_offer_rasp.jpg");
        background-position: 50% 50%;
        background-repeat: repeat;
    }

    .offerItem-chocoFree {
        background-image: url("../img/bg_offer_choco.jpg");
        background-position: 50% 50%;
        background-repeat: repeat;
    }

    .offerItem:nth-child(2n) {
        margin-right: 0;
    }

        .offerTitle {
            font-size: 35px;
            font-weight: bold;
            line-height: 41px;
            margin: 0 0 25px;
            padding: 0;
        }

        .offerText {
            display: block;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
        }
            .offerText p {
                margin: 0 0 6px;
            }

        .offerBtn {
            display: inline-block;
            padding: 10px 20px;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            vertical-align: top;
            color: #fff;
            position: absolute;
            right: 20px;
            bottom: 20px;
            text-decoration: none;
            text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
            background: #f26843;
            background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
            background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
            background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
            border-radius: 100px;
            box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
        }

        .offerBtn:hover {
            background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
            background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
            background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
        }

        .offerBtn:active {
            background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
            background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
            background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
            box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
        }



.iceCreamHits {
    font-size: 0px;
}

.catalogItems {
    font-size: 0px;
}

.iceCream {
    width: 267px;
    margin-right: 26px;
    margin-bottom: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    position: relative;
}

.iceCream:nth-child(4n) {
    margin-right: 0;
}

.iceCream:hover {

  border-radius: 5px;
  background-color: rgb(157, 177, 165);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}



.iceCreamTitle {
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.zeroMarginRight {
        margin-right: 0;
    }

.iceCreamHits:nth-child(4n) {
    margin-right: 0;
}

.catalogItems:nth-child(4n) {
    margin-right: 0;
}

.iceCreamPrice {
    position: absolute;
    left: 0;
    top: 210px;
    line-height: 45px;
    font-size: 45px;
}

.iceCreamKg {
    font-size: 30px;
}

.hitIcon {
    position: absolute;
    top: 0;
    left: 0;
}

.compAdvantages {
    background-image: url("../img/waffle_background.png");
    color: #323232;
    position: relative;
    border-radius: 10px;
    margin-bottom: 40px;
}

.compAdvantages h2,
.compAdvantages p {
    color: #323232;
    padding: 0;
    margin: 0;
}

.compAdvantages h2 {
    padding-top: 27px;
    padding-left: 20px;
    margin-bottom: 24px;
}

.compAdvantages p {
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 78px;
}

.advantagesList {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.advantages {
    width: 565px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;

}

.iceCreamIcon::before {
    content: "";
    width: 47px;
    height: 47px;
    background-image: url("../img/icecream_icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    left: 20px;
}

.leafIcon::before {
    content: "";
    width: 47px;
    height: 47px;
    background-image: url("../img/leaf_icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 190px;
    left: 20px;
}

.cowIcon::before {
    content: "";
    width: 47px;
    height: 47px;
    background-image: url("../img/cow_icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    left: 586px;
}

.thermometerIcon::before {
    content: "";
    width: 47px;
    height: 47px;
    background-image: url("../img/thermometer_icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 190px;
    left: 586px;
}


.blogSubscribe {
    font-size: 0;
    margin-bottom: 40px;
}

    .blog {
        width: 520px;
        display: inline-block;
        vertical-align: top;
        font-size: 24px;
        line-height: 30px;
        padding: 22px 20px 81px;
        margin-right: 26px;
        color: #323232;
        background-color: #fff;
        background-image: url("../img/strawberry_background.jpg");
        background-position: 50% 50%;
        background-repeat: repeat;
        border-radius: 15px;
    }

        .blogTitle {
            margin: 0;
            margin-bottom: 5px;
            color: #323232;
            font-size: 16px;
            line-height: 22px;
        }

        .blogLink {
            color: #323232;
            margin: 0;
            display: inline-block;
            width: 290px;
            font-weight: bold;
        }

    .subscribe{
        width: 510px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 22px;
        background-color: #f8f7f4;
        color: #5a5a5a;
        border-image: url("../img/post_pattern.jpg") 4 round;
        border-radius: 15px;
        padding: 28px 20px 30px;

    }

        .subscribeText {
            margin: 0;
            margin-bottom: 40px;
        }


        .subscribeFormField {
            background: #fff;
            border: 1px solid rgb(211, 211, 210);
            border-radius: 5px;
            color: #323232;
            font-size: 16px;
            font-weight: normal;
            box-sizing: border-box;
            padding: 0 13px;
            height: 42px;
            width: 365px;
            margin-right: 6px;
        }

        .subscribeFormField::-webkit-input-placeholder {
            color: #999;
        }
        .subscribeFormField::-moz-placeholder {
            color: #999;
        }
        .subscribeFormField:-ms-input-placeholder {
            color: #999;
        }

        .subscribeBtn {
            border: none;
            display: inline-block;
            padding: 9px 18px;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            vertical-align: top;
            color: #fff;
            text-decoration: none;
            text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
            background: #f26843;
            background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
            background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
            background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
            border-radius: 100px;
            box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
        }

        .subscribeBtn:hover {
          background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
          background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
          background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
        }

        .subscribeBtn:active {
          background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
          background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
          background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
        }


.contacts {
    width: 1200px;
    margin: auto;
    height: 430px;
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

.contacts:after {
    content: "";
    position: absolute;
    top: 140px;
    left: 265px;
    width: 85px;
    height: 140px;
    background-image: url("../img/icecream_map.png");
    background-repeat: no-repeat;
}

.contact_info {
    width: 255px;
    position: absolute;
    top: 63px;
    right: 25px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.98);
    padding: 27px 23px 30px;
}

.contact_info p {
    margin: 0;
}


.importantInfo {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.importantInfo.margin {
    display: block;
    margin: 0;
    margin-bottom: 19px;
}

.form.btn {
    font-size: 18px;
    line-height: 24px;
    padding: 9px 25px 15px 28px;
    margin-top: 30px;

}

.contactForm {
    position: absolute;
    top: 60px;
    left: 350px;
    display: none;
}

    .contactFormFieldset::after {
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        top: 10px;
        right: 20px;
        background-image: url("../img/x_form.png");
        background-repeat: no-repeat;
    }

    .formTitle {
        font-size: 24px;
        line-height: 28px;
        margin: 0;
    }

    .contactFormFieldset {
        border-radius: 6px;
        background-color: rgb(248, 247, 244);
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
        padding: 20px 15px;
        margin-top: 7px;
        width: 311px;
        z-index: 1;
        position: relative;
    }
    .contactFormField {
        background: #fff;
        border: 1px solid rgb(211, 211, 210);
        border-radius: 5px;
        color: #353535;
        font-size: 14px;
        font-weight: 400;
        box-sizing: border-box;
        padding: 0 13px;
        height: 42px;
        width: 265px;
    }

    .contactFormField::-webkit-input-placeholder {
        color: #999;
    }
    .contactFormField::-moz-placeholder {
        color: #999;
    }
    .contactFormField:-ms-input-placeholder {
        color: #999;
    }

    .contactFormMessage {
        width: 425px;
        height: 150px;
        padding-top: 10px;
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
    }

    .contactFormSubmit.btn {
        border: none;
        font-size: 18px;
        line-height: 24px;
        padding: 9px 25px 15px 28px;
    }

    .formSubmit {
        margin: 0;
    }

.pagesNumber {
    list-style: none;
    margin: 0;
    float: right;
}

    .pagesNumber li {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }

    .pagesNumber a {
        text-decoration: none;
        color: #ffffff;
        margin-left: 8px;
    }

    .arrowLeft {
        opacity: 0.2;
    }

    .pageNumber {
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }

    .pageNumber:hover {
        background: #a9bbb1 50% 50%;
    }

    .pageNumber:active {
        background-color: #f8f7f4;
    }

    .pageNumber:active a {
        color: #323232;
    }



    .footerLine {
        height: 1px;
        width: 1146px;
        background-color: #a9bbb1;
        margin-top: 30px;
        margin-bottom: 20px;
    }

/*footer*/

.mainFooter {
    padding-bottom: 25px;
}

.socialButtons {
    width: 220px;
    margin-right: 200px;
    margin-top: 15px;
    margin-left: 2px;
    float: left;
}

.socialBtn {
    margin-right: 8px;
    position: relative;
    display: inline-block;
}
    .socialBtnTwitter {
        width: 31px;
        height: 31px;
        background-image: url("../img/twitter_icon.svg");
        border: 3px solid #b2c2b9;
        border-radius: 50%;
        opacity: 0.8;
    }

    .socialBtnInsta {
        width: 31px;
        height: 31px;
        background-image: url("../img/insta_icon.svg");
        border: 3px solid #b2c2b9;
        border-radius: 50%;
        opacity: 0.8;
    }

    .socialBtnFb {
        width: 31px;
        height: 31px;
        background-image: url("../img/fb_icon.svg");
        border: 3px solid #b2c2b9;
        border-radius: 50%;
        opacity: 0.8;
    }

    .socialBtnVk {
        width: 31px;
        height: 31px;
        background-image: url("../img/vk_icon.svg");
        border: 3px solid #b2c2b9;
        border-radius: 50%;
        opacity: 0.8;
    }

    .socialBtnTwitter:hover {
        opacity: 1;
        border-color: #dbe3de;
    }

    .socialBtnInsta:hover {
        opacity: 1;
        border-color: #dbe3de;
    }

    .socialBtnFb:hover {
        opacity: 1;
        border-color: #dbe3de;
    }

    .socialBtnVk:hover {
        opacity: 1;
        border-color: #dbe3de;
    }

    .socialBtnTwitter:active {
        opacity: 1;
        border-color: #d9e1dd;
        box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.5);
    }

    .socialBtnInsta:active {
        opacity: 1;
        border-color: #d9e1dd;
        box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.5);
    }

    .socialBtnFb:active {
        opacity: 1;
        border-color: #d9e1dd;
        box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.5);
    }

    .socialBtnVk:active {
        opacity: 1;
        border-color: #d9e1dd;
        box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.5);
    }



.links {
    width: 320px;
    margin-top: 12px;
    float: left;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.forSuppliers {
    margin-right: 30px;

}

.aboutProduction {
    margin-right: 41px;
}

.footerLink {
    position: relative;
}

.forSuppliers::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/heart_icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: -20px;
    top: 4px;
}


.copyright {
    width: 200px;
    float: right;

}

.copyright p {
    font-size: 12px;
    margin: 0;
    line-height: 18px;
}

.copyright a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

.academy {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
